.DS_Store
/initial_template
.DS_Store

/01-expanding-cards/.DS_Store
09-sound-board/.DS_Store
01-expanding-cards.textClipping/.DS_Store 
10-dad-jokes/.DS_Store
10-dad-jokes/build
10-dad-jokes/node_modules
02-progress-steps/.DS_Store               
12-eventKey/.DS_Store
03-rotating-navigation/.DS_Store          
12-eventKey-react/.DS_Store
12-eventKey-react/node_modules
12-eventKey-react/build
04-hidden-search-widget/.DS_Store         
13-FAQ-collapse/.DS_Store
05-blurry-loading/.DS_Store               
13-FAQ-collapse-react/.DS_Store
13-FAQ-collapse-react/node_modules
06-scroll-animation/.DS_Store             
14-random-choice-picker/.DS_Store
07-split-landing-page/.DS_Store           
14-random-choice-picker-react/.DS_Store
14-random-choice-picker-react/node_modules
08-form-wave-animation/.DS_Store          
15-animated-navigation/my-app/node_modules
15-animated-navigation/.DS_Store