h5 {
  color: gray
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: mediumslateblue;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-items: center;
}