@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #4c81ac;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

h3 {
  text-align: center;
}

p,
a {
  font-size: 12px;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(174, 216, 226);
  margin-left: 3px;
}

a:hover {
  color: white;
}

form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 12px;

}

form label span {
  position: relative;
  transition: all .2s;
}

.up {
  top: -10px;
}

form input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

form button {
  width: 100%;
  height: 30px;
  background-color: rgb(174, 216, 226);
  border: none;
  border-radius: 3px;
}

form button:hover {
  cursor: pointer;
}


.form-box {
  width: 250px;
  height: 270px;
  background-color: #425e7e;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.input-box {
  height: 40px;
  position: relative;
}

.register {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 20px;
}