.grid {
  height: 250px;
  display: grid;
  grid-template-rows: 50px 120px 80px;
  align-items: center;
  justify-items: center;
  padding: 0 10px;
  text-align: center;
}

.joke {
  height: 120px;
  overflow: auto;
}